@model CvHavuzu.Web.Models.Resume

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Resume</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Gender" class="form-control">
                    <option value="1">Erkek</option>
                    <option value="2">Kadın</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfessionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="ProfessionId" class="form-control" asp-items="ViewBag.ProfessionId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="Profession" asp-action="Index">...</a></span>
                </div>
</div>
        </div>
        <div class="form-group">
            <label asp-for="EducationLevelId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="EducationLevels" asp-action="Index">...</a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UniversityId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="University" asp-action="Index">...</a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="Departments" asp-action="Index">...</a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResumeFile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResumeFile" class="form-control" />
                <span asp-validation-for="ResumeFile" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResumeStatusId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="ResumeStatusId" class="form-control" asp-items="ViewBag.ResumeStatusId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="ResumeStatus" asp-action="Index">...</a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Skills" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ShowInList" />
                    <label asp-for="ShowInList"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeacherId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="Teacher" asp-action="Index">...</a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConsultantId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="ConsultantId" class="form-control" asp-items="ViewBag.ConsultantId">
                        <option value=""></option>
                    </select> <span class="input-group-btn"><a class="btn btn-sm btn-default" asp-area="Admin" asp-controller="Consultant" asp-action="Index">...</a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Approved" />
                    <label asp-for="Approved"></label>
                </div>
            </div>
        </div>
                
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
