@model CvHavuzu.Web.Models.Resume

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" />
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Özgeçmiþlerim</h1>
        <p class="lead text-center">@Html.Raw(ViewBag.Setting.WelcomeText)</p>
    </div>
</header>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Resume</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Gender" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfessionId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ProfessionId" class="form-control" asp-items="ViewBag.ProfessionId"></select>
                <span asp-validation-for="ProfessionId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EducationLevelId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId"></select>
                <span asp-validation-for="EducationLevelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UniversityId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId"></select>
                <span asp-validation-for="UniversityId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResumeFile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResumeFile" class="form-control" />
                <span asp-validation-for="ResumeFile" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResumeStatusId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ResumeStatusId" class="form-control" asp-items="ViewBag.ResumeStatusId"></select>
                <span asp-validation-for="ResumeStatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Skills" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ShowInList" />
                    <label asp-for="ShowInList"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeacherId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConsultantId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ConsultantId" class="form-control" asp-items="ViewBag.ConsultantId"></select>
                <span asp-validation-for="ConsultantId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Approved" />
                    <label asp-for="Approved"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
