body {
    color: black !important;
  
}
.demo-btn-margin .btn{margin-bottom:6px}
.page-header {
    padding-top: 0px !important;
    background-image: url(/images/blue-bg.jpg) !important;
}
    .page-header > .container, main {
        -webkit-box-shadow: 0px 3px 20px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 20px 1px rgba(0,0,0,0.3);
        box-shadow: 0px 3px 20px 1px rgba(0,0,0,0.3);
    }
h1 {font-size:28px !important;}