@{
    ViewData["Title"] = "Şifremi Unuttum Doğrulaması";
}
<header class="page-header size-lg">
    <div class="container">
        <h1 class="text-center">Şifremi Unuttum Doğrulaması</h1>
        @*<p class="lead text-center">@Html.Raw(ViewBag.Setting.WelcomeText)</p>*@
    </div>
</header>

<div class="container" style="background-color:white">
    <h2>E-posta adresinize bir link gönderdik</h2>
    <p>
        Lütfen e-posta adresinizini kontrol edin.
    </p>
</div>
