@{
    ViewData["Title"] = "Hata!";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Hata</h1>
        <p class="lead text-center">İşleminiz gerçekleştirilirken hata oluştu.</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <h3>Geliştirici Modu</h3>
            <p>
                <strong>Geliştirme</strong> ortamına geçiş, oluşan hata hakkında daha ayrıntılı bilgi görüntüler.
            </p>
            <p>
                <strong> Konuşlandırılmış uygulamalarda geliştirme ortamı etkinleştirilmemelidir</strong>,
                Son kullanıcılara görüntülenecek istisnalardan hassas bilgilere neden olabilir.
                Yerel hata ayıklama için, Geliştirme ortamı,
                <strong> ASPNETCORE_ENVIRONMENT </strong> ortamınin <strong>Geliştirme</strong> ve uygulamayı yeniden başlatmayla sağlanır.
            </p>
            </div>
</section>
</main>