@model CvHavuzu.Web.Models.Teacher

@{
    ViewData["Title"] = "Eğitmen Sil";
}

<br />
<h2>Eğitmen Sil</h2>
<br>
@Html.ValidationMessage("Delete", new { @class = "text-danger" })
<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <form asp-action="Delete">
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.Fullname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fullname)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            <br />
            <br />
            <a asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
