@model CvHavuzu.Web.Models.Teacher

@{
    ViewData["Title"] = "Eğitmen Detayları";
}
<br />
<h2>Eğitmen Detayları</h2>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a>
    <br />
    <br />
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
