@model CvHavuzu.Web.Models.Teacher

@{
    ViewData["Title"] = "Eğitmen Detayları";
}

<h2>Eğitmen Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
