@model Setting
@{
    ViewData["Title"] = "Ayarlar";
}
<h2>Ayarlar</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message)) { 
<div class="alert alert-success">@ViewBag.Message</div>
}
<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>

<form asp-area="Admin" role="form" asp-controller="Setting" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Logo" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input type="file" name="logoUpload" asp-for="Logo" class="form-control"/>
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
           
        </div>
        <div class="form-group">
            <label asp-for="WelcomeText" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="WelcomeText" rows="10" class="form-control"></textarea>
                <span asp-validation-for="WelcomeText" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MembershipAgreement" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="MembershipAgreement" tabindex="3"></textarea>
                <span class="text-danger" asp-validation-for="MembershipAgreement"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('MembershipAgreement');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResumeDownloadSecurity" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <select asp-for="ResumeDownloadSecurity" class="form-control">
                    <option value="1">Serbest İndirme</option>
                    <option value="2">Ad, E-Posta ve Telefon İste</option>
                    <option value="3">Üyelik Gerekli</option>
                </select>
                <span asp-validation-for="ResumeDownloadSecurity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastResumeCreateDate" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="LastResumeCreateDate" readonly class="form-control"/>
                <span asp-validation-for="LastResumeCreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FooterText" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="FooterText" rows="10" class="form-control"></textarea>
                <span asp-validation-for="FooterText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomHtml" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="CustomHtml" rows="10" class="form-control"></textarea>
                <span asp-validation-for="CustomHtml" class="text-danger"></span>
            </div>
        </div>
      
        <div class="form-group">
            <label asp-for="SeoTitle" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="SeoTitle" class="form-control"/>
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoDescription" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="SeoDescription" class="form-control"></textarea>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoKeywords" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="SeoKeywords" class="form-control"></textarea>
                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="About" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="About" class="form-control"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Fax" class="form-control"/>
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Mail" class="form-control"/>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                @Model.UpdateDate.ToString("dd MMMM yyyy dddd HH:mm:ss")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrivacyPolicy" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="PrivacyPolicy" tabindex="3"></textarea>
                <span class="text-danger" asp-validation-for="PrivacyPolicy"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('PrivacyPolicy');
                </script>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="TermsOfUse" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="TermsOfUse" tabindex="3"></textarea>
                <span class="text-danger" asp-validation-for="TermsOfUse"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('TermsOfUse');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Facebook" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Facebook" class="form-control"/>
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Twitter" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Twitter" class="form-control"/>
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkedIn" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="LinkedIn" class="form-control"/>
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
        
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
