@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Şifre Değiştir</h1>
        <p class="lead text-center">Lütfen geçerli şifrenizi kullanarak yeni şifrenizi oluşturunuz...</p>
    </div>
</header>

<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
          
                    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="OldPassword" class="col-md-2 control-label">Mevcut Şifre:</label>
                            <div class="col-md-4">
                                <input asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="col-md-2 control-label">Yeni Şifre:</label>
                            <div class="col-md-4">
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label">Yeni Şifre Tekrar:</label>
                            <div class="col-md-4">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Şifreyi değiştir</button>
                            </div>
                        </div>
                    </form>

                    @section Scripts {
                        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                    }
</div>
</section>
</main>