@model CvHavuzu.Web.Models.Department

@{
    ViewData["Title"] = "Bölüm Sil";
}

<h2>Bölüm Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div><form asp-action="Delete">
    <h4>Bölümler</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>


    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-action="Index">Listeye geri dön!</a>
    </div>
</form>
</div>
