@model CvHavuzu.Web.Models.Department

@{
    ViewData["Title"] = "Bölüm Ayrıntıları";
}

<h2>Bölüm Ayrıntıları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye geri dön!</a>
</div>
