@{
    ViewData["Title"] = "CV Havuzu";
}
 <!-- Page header -->
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Nitelikli Bilişim Uzmanları CV Havuzu</h1>
        <p class="lead text-center">Toplam 800 ders/saati uzmanlık eğitimlerini başarıyla bitirmiş bilişim uzmanlarımızı istihdam etmeniz halinde 6111 sayılı Teşvik Yasası kapsamında Çalışma Bakanlığı işverenlere, çalışan brüt maliyetinin %15,5’i olan ‘işveren prim payı’ teşviki ile destek olmaktadır. Bu teşvik işverenlerin düzenli SGK ödemeleriyle elde ettiği %5’lik teşvike ilave olarak geldiğinden, personel maliyetlerinde toplam %20,5 tasarruf elde edebilmektedir. İşveren, bu teşvikten yararlanılan personeller için yıl içinde 2 maaşı kadar tasarruf elde edebilir. Her ay elde edeceğiniz bu tasarruftan NBU eğitimini tamamlamış nitelikli bilişimciler için en az 36 ay boyunca faydalanabilirsiniz. Teşvik avantajlarınıza ilaveten, NBU Programını bitirmiş adaylarımızı istihdam eden firmalara eğitim grubumuza ait tüm açık sınıf eğitimlerimizde kullanabileceği 1.500TL'lik eğitim çeki verilecektir.</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        
                        <div class="col-xs-12">
                            <br />
                            <form role="form">
                                <input type="text" name="query" placeholder="Öğrenci adı, konumu, yetenekleri, vs. ara.." class="form-control" />
                            </form>
                        </div>
                        
                    </div>
                </div>
               


                <!-- Resume item -->
                <div class="col-xs-12">
                    <div class="item-block">
                        <header>
                            <a href="resume-detail.html"><img class="resume-avatar" src="/assets/img/avatar.jpg" alt=""></a>
                            <div class="hgroup">
                                <h4><a href="resume-detail.html">Mustafa Fındık</a></h4>
                                <h5>Front-end developer</h5>
                            </div>
                            <div class="header-meta">
                                <span class="location">Kartal</span>
                                <span class="fa fa-graduation-cap"></span> <span>Dokuz Eylül Üniversitesi - İstatistik</span>
                            </div>
                            
                            <p style="float:left;">
                                Cinsiyet: Erkek<br />
                                Yaş: 26<br />
                                Yetenekler: C#, .NET Core, MVC 6, OOP, Design Patterns, Visual Studio 2017, SQL Server 2016, HTML5, CSS3, JavaScript, jQuery, Bootstrap
                            </p>
                            <br style="clear:both" />
                        </header>

                        <footer>
                            <p class="status"><strong>Güncellenme Tarihi:</strong> 6 Nisan 2017</p>

                            <div class="action-btn">
                                <a class="btn btn-xs btn-gray" href="#">CV İndir</a>
                                <a class="btn btn-xs btn-gray" href="#">Düzenle</a>
                                <a class="btn btn-xs btn-danger" href="#">Yayından Kaldır</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- END Resume item -->
                <!-- Resume item -->
                <div class="col-xs-12">
                    <div class="item-block">
                        <header>
                            <a href="resume-detail.html"><img class="resume-avatar" src="/assets/img/avatar.jpg" alt=""></a>
                            <div class="hgroup">
                                <h4><a href="resume-detail.html">Mustafa Fındık</a></h4>
                                <h5>Front-end developer</h5>
                            </div>
                            <div class="header-meta">
                                <span class="location">Kartal</span>
                                <span class="fa fa-graduation-cap"></span> <span>Dokuz Eylül Üniversitesi - İstatistik</span>
                            </div>
                            
                            <p style="float:left;">
                                Cinsiyet: Erkek<br />
                                Yaş: 26<br />
                                Yetenekler: C#, .NET Core, MVC 6, OOP, Design Patterns, Visual Studio 2017, SQL Server 2016, HTML5, CSS3, JavaScript, jQuery, Bootstrap
                            </p>
                            <br style="clear:both" />
                        </header>

                        <footer>
                            <p class="status"><strong>Güncellenme Tarihi:</strong> 6 Nisan 2017</p>

                            <div class="action-btn">
                                <a class="btn btn-xs btn-gray" href="#">CV İndir</a>
                                <a class="btn btn-xs btn-gray" href="#">Düzenle</a>
                                <a class="btn btn-xs btn-danger" href="#">Yayından Kaldır</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- END Resume item -->
                <!-- Resume item -->
                <div class="col-xs-12">
                    <div class="item-block">
                        <header>
                            <a href="resume-detail.html"><img class="resume-avatar" src="/assets/img/avatar.jpg" alt=""></a>
                            <div class="hgroup">
                                <h4><a href="resume-detail.html">Mustafa Fındık</a></h4>
                                <h5>Front-end developer</h5>
                            </div>
                            <div class="header-meta">
                                <span class="location">Kartal</span>
                                <span class="fa fa-graduation-cap"></span> <span>Dokuz Eylül Üniversitesi - İstatistik</span>
                            </div>
                            
                            <p style="float:left;">
                                Cinsiyet: Erkek<br />
                                Yaş: 26<br />
                                Yetenekler: C#, .NET Core, MVC 6, OOP, Design Patterns, Visual Studio 2017, SQL Server 2016, HTML5, CSS3, JavaScript, jQuery, Bootstrap
                            </p>
                            <br style="clear:both" />
                        </header>

                        <footer>
                            <p class="status"><strong>Güncellenme Tarihi:</strong> 6 Nisan 2017</p>

                            <div class="action-btn">
                                <a class="btn btn-xs btn-gray" href="#">CV İndir</a>
                                <a class="btn btn-xs btn-gray" href="#">Düzenle</a>
                                <a class="btn btn-xs btn-danger" href="#">Yayından Kaldır</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- END Resume item -->


            </div>
        </div>
    </section>
</main>
<!-- END Main container -->