
@{
    ViewData["Title"] = "Kişisel Verilerin Kullanımı";
}

<header class="page-header size-lg">
    <div class="container">
        <h1 class="text-center">Kişisel Verilerin İşlenmesi</h1>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <h2 style="margin-top:0px;padding-top:0px;">CVHAVUZU.BİLİSİMEGİTİM.COM'A YAPILAN ÜYELİK BAŞVURULARINDA ALINAN BİLGİ VE KİŞİSEL VERİLERİN İŞLENMESİ HAKKINDA BİLGİLENDİRME</h2>
<p>
a) Veri Sorumlusu
6698 sayılı Kişisel Verilerin Korunması Kanunu ("6698 sayılı Kanun") uyarınca, kişisel verileriniz; veri sorumlusu olarak CVHAVUZU.BİLİSİMEGİTİM.COM (Bilişim Bilgisayar Eğitim ve Mühendislik San. Tic. AŞ.) (“CVHAVUZU.BİLİSİMEGİTİM.COM”) tarafından aşağıda açıklanan kapsamda toplanacak ve işlenebilecektir.
</p>
<p>
b) Kişisel Verilerin Hangi Amaçla İşleneceği
Toplanan kişisel verileriniz, kişisel verilerinizi bizlere açıklamanıza konu olan; CVHAVUZU.BİLİSİMEGİTİM.COM’in Türkiye İş Kurumundan “İŞKUR” almış olduğu izin belgesi doğrultusunda CVHAVUZU.BİLİSİMEGİTİM.COM sitesi aracılığıyla istihdam edilecek personel arayan şahıs ve/veya şirketlerin bilgisine sunulması ve başta İş Kanunu olmak üzere ilgili mevzuat uyarınca adli ve idari tüm yetkili mercilerce öngörülen bilgi saklama, raporlama ve bilgilendirme yükümlülüklerine uyulması, onaylayacağınız üyelik koşullarına istinaden tarafınıza sunmuş olduğumuz üyelik hizmetinin gereğinin yerine getirilmesi ve 6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde işlenecektir.
<br />
Kişisel verilerinizin Şirketimiz tarafından işlenme amaçları konusunda detaylı bilgilere; cvhavuzu.bilisimegitim.com internet adresinde yer alan Kişisel Verilerin Korunması Bilgilendirme yazısından ulaşabilirsiniz.
</p>
<p>
c) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği
Toplanan kişisel verileriniz; yukarıda belirtilen amaçların gerçekleştirilmesi ile sınırlı olmak üzere; personel istihdam etmek amacıyla CVHAVUZU.BİLİSİMEGİTİM.COM’e üye olan işveren kuruluşlara, Türkiye İş Kurumuna “İŞKUR” ve yasal mevzuat zorunlu kıldığı takdirde talep eden bütün resmi kurum ve kuruluşlara, verilerin bulut ortamında saklanması hizmeti aldığımız yurtiçi / yurtdışı kişi ve kurumlara, müşterilerimize gönderdiğimiz iletilerin gönderilmesi konusunda anlaşmalı olduğumuz yurtiçi / yurtdışı kurumlara ve yurtiçi / yurtdışı diğer üçüncü kişilere ilgili işbirliklerimiz çerçevesinde aktarılabilecektir.
</p><p>
ç) Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi
Kişisel verileriniz; çağrı merkezimiz, internet sitemiz, mobil sitemiz, mobil uygulamamız  kanalıyla veya e-posta, SMS veya diğer yollarla tarafımıza ilettiğiniz bilgiler, internet sitemizi ziyaret ettiğiniz sırada bilgisayarlarımızın sizi otomatik olarak tanımasına yarayan ve “cookies” olarak adlandırılan tanımlama sistemi yolu da dahil olmak üzere çeşitli kanallar aracılığıyla sözlü, yazılı veya elektronik ortamda olmak kaydıyla tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olarak otomatik olmayan çeşitli yöntemlerle toplanmaktadır. Toplanan kişisel verileriniz 6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu Bilgilendirme’nin (b) ve (c) maddelerinde belirtilen amaçlarla da işlenebilmekte ve aktarılabilmektedir.
</p><p>
d) Kişisel Veri Sahibinin 6698 sayılı Kanun’un 11. Maddesinde Sayılan Hakları
Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi CVHAVUZU.BİLİSİMEGİTİM.COM’in Bahariye Caddesi Süleymanpaşa Sokak No:2 Kadıköy/İstanbul/Türkiye adresine veya bilisim@@bilisimegitim.com elektronik posta adresine yazılı olarak iletmeniz durumunda CVHAVUZU.BİLİSİMEGİTİM.COM talebin niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi halinde, CVHAVUZU.BİLİSİMEGİTİM.COM tarafından Kişisel Verileri Koruma Kurulu’nca belirlenen tarifedeki ücret alınacaktır.
</p><p>
Bu kapsamda kişisel veri sahipleri;
<br />
Kişisel veri işlenip işlenmediğini öğrenme,
Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme haklarına sahiptir.
CVHAVUZU.BİLİSİMEGİTİM.COM bu metin üzerinde ilgili kanunlara bağlı olarak çıkacak yönetmeliklere ve sair ikincil mevzuata uygun olarak değişiklik yapma hakkını saklı tutar.
</p>
     </div>
    </section>
</main>
