@model CvHavuzu.Web.Models.Profession

@{
    ViewData["Title"] = "Sil";
}

<h2>Sil</h2>

<h3>Bunu Silmek istediğinize Emin misiniz?</h3>
<div>
    <form asp-action="Delete">
        <h4>Meslek Silme</h4>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            <a asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
